# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
serviceAccountKey.json
*$py.class

# Distribution / packaging
*.egg
*.egg-info
dist
build

# Environments
.venv
myvenv
.idx
.vscode
.firebase
flask_session
sessions
logs
.git
